.quotation-values {
  text-align: center;
}

.quotation-date {
  text-align: right;
}

.up {
  color: green;
}

.down {
  color: red
}

.yesterday-price {
  font-size: 1em !important;
}

.last-quotation-variation {
  margin: 15px 0;
}

.last-quotation-price {
  margin: 15px 0;
}

.last-update {
  margin: -15px 0 15px
}
